html, body {
	background-color: #002a35;
	color: #839496;
}

footer {
  font-size: 9px;
}

a, a:visited, a:active {
	color: #287064;
	border-color: #073642;
}

a:hover {
	background-color: #073642;
  text-decoration: none;
	border-color: #073642;
	color: #2aa198;
}

h1, h2, h3 {
	color: #406292;
}

h1 a, h1 a:visited, h1 a:active {
	color: #cb4b16;
}

h1 a:hover {
	background-color: #073642;
	border-color: #073642;
	color: #cb4b16;
}

article h1 a.anchor {
	color: #2aa198;
}

blockquote {
	border-color: #cb4b16;
}

textarea.contact-content {
  width: 100%;
  height: 400px;
}
input {
  display: block!important;
}

.offering-logo {
  max-height: 45px;
  padding-bottom: 15px;
}

.repo {
  white-space: nowrap;
}

.repo .language,
.gist .language {
	display: inline-block;
	text-align: center;
	min-width: 70px;
	opacity: 0.6;
	margin-right: 5px;
	text-transform: lowercase;
	font-weight: bold;
	line-height: 16px;
	border-radius: 4px;
	background-color: #10586C;
	color: #002a35;
}

.page-header {
	border-bottom: 1px solid #073642;
  margin: 10px 0;
}

.page-header h1 {
  color: #526691;
  margin-bottom: 0px;
}

.page-header small {
  color: #11485D;
}

.sidebar {
	margin-top: 9px;
}

.sidebar-box h3 {
  color: #11485D;
	font-weight: normal;
	font-size: 22px;
	border-bottom: 1px solid #073642;
}

.sidebar-box ol {
  color: #11485D;
}

.navbar-inner {
  border: 0;
  background-image: none;
	background-color: #002a35;
	color: #839496;
  padding: 0;
}

.navbar .brand {
  text-shadow: none;
  padding-left: 5px;
}

.navbar .nav>li>a {
  text-shadow: none;
}

.navbar .nav>li>a:hover {
  color: #B7B8BD;
}

.navbar .nav>.active>a {
	background-color:#073642;
}

.navbar .nav>.active>a:hover {
	background-color:#073642;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 960px;
}

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right;
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
	opacity: 0.6;
	background-color: #10586C;
	color: #002a35;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bold;
}

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }